html,ul,li { margin: 0; padding: 0; }
body { font-size: 100%; margin: 0; font-family: 'Helvetica Neue', Arial, sans-serif; }

#main {
  position: relative;
  margin: 20px;
  box-shadow: 0 0 10px darkred;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0,#fff), color-stop(1,whitesmoke));
}

.showWord {
  position: absolute;
  font-size: 72px;
  font-weight: bold;
  color: #4d0000;
  z-index: 1009;
}

.start {
  Opacity: 0.6;
  z-index: 1002;
}
.go {
  margin-top: 50px;
  font-size: 60px;
  font-weight: bold;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  color: #4d0000;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #fff), color-stop(1,#ccc));
}
.go:hover{
  background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #ddd), color-stop(1,whitesmoke));
}
.picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.picture img {
  width:240px;
  height:160px;
  border-radius: 10px;
  Opacity: 0.8;
}

#foot {
  position: absolute;
  left: 30%;
  bottom: 40px;
  z-index: 1;
  text-align: center;
}

